<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Create Announcement</title>
  </head>
  <body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h2 class="font-weight-bold text-center">Create Announcement</h2>
            <form th:action="@{/announcement/create_announcement}" method="post" th:object="${announcement}">
                <div class="form-group" hidden>
                    <label>Kelas:</label>
                    <select id="kelas_id" class="form-control" th:field="*{kelasId}">
                        <option th:each="kelas : ${all_kelas}" th:value="${kelas.id}" th:text="${kelas.name + ' (' + kelas.id + ')'}" value=""></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="judul">Judul:</label>
                    <input type="text" class="form-control" th:field="*{title}" maxlength="25" id="judul" placeholder="Tulis Judul" required>
                </div>
                <div class="form-group">
                    <label for="deskripsi">Deskripsi:</label>
                    <textarea class="form-control" th:field="*{description}" maxlength="100" id="deskripsi" rows="3" placeholder="Tulis Deskripsi" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        var currentId = new URLSearchParams(window.location.search).get("id");
        
        if (currentId != null) {
            document.getElementById("kelas_id").value = currentId;
        }
    </script>
  </body>
</html>