<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::head-section}, ~{::#content}, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="head-section">
        <link rel="stylesheet" th:href="@{~/css/landing.css}">
        <title>Pacil Class</title>
    </th:block>
</head>

<body>
<div id="content">
    <div class="container py-3">
        <div id=main>
            <div id=start>
                <h2>Sudah Selesai</h2>
                <br><br><br>
                <h5 th:text="${nilai}"></h5>
                <br><br>
                <a th:href="@{/ }"><button class="btn btn-light" ><h5>Back Home</h5></button></a>
            </div>
        </div>
    </div>

</div>

<th:block th:fragment="scripts">
    <script th:src="@{~/js/buatpertanyaan.js}"></script>
</th:block>
</body>

</html>