<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Semangat Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

        #main{
            width: 100%;
        }

        #tombol1{
            width: 400px;
            borderColor: black;
        }

        #tombol2{
            width: 400px;
            borderColor: black;
        }

        #tombol3{
            width: 400px;
            borderColor: black;
        }

        #tombol4{
            width: 400px;
            borderColor: black;
        }

        #soal{
            width: 100%;
            margin:auto;
            text-align: center;
        }

        #next{
            margin-left:800px;
            width:200px;
        }

        .pilihan{
            display: flex;
            justify-content: space-around;
            color: red;
        }
    </style>
    <link rel="stylesheet" th:href="@{~/css/base.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand ml-3">
        <p>PacilClass</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-3" id="navbarSupportedContent">
        <ul th:if="${#authentication.name == 'anonymousUser'}" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a th:href="@{/authentication/user}" class="nav-link">Login</a>
            </li>
            <li class="nav-item" style="font-weight: 500; ">
                <a th:href="@{/authentication/authentication}" class="nav-link" style="color: rgb(92, 92, 92);">Sign Up</a>
            </li>
        </ul>
        <ul th:unless="${#authentication.name == 'anonymousUser'}" class="navbar-nav ml-auto">
            <li class="nav-item">
                <span th:text="${'Hi, ' + #authentication.name}"></span>
            </li>
        </ul>
    </div>
</nav>

<div class="container py-3">
    <div id=main>
        <div>
            <p id="timer"></p>
        </div>
        <div>
            <h3 id=soal th:text="${Soals}"></h3>
            <br>
        </div>
        <div>
            <td>
                <span th:if="${Jawabans.size()==4}">
                    <div class=pilihan>
                        <a><button onclick= "A()" class="btn btn-light" id=tombol1  ><h5 th:text="${Jawabans[0]}"></h5></button></a>
                    </div>
                    <br>
                    <div class="pilihan">
                        <a><button onclick= "B()" class="btn btn-light" id=tombol2 ><h5 th:text="${Jawabans[1]}"></h5> </button></a>
                    </div>
                    <br>
                    <div class="pilihan">
                        <a><button onclick= "C()" class="btn btn-light" id=tombol3 ><h5 th:text="${Jawabans[2]}"></h5> </button></a>
                    </div>
                    <br>
                    <div class="pilihan">
                        <a><button onclick= "D()" class="btn btn-light" id=tombol4 ><h5 th:text="${Jawabans[3]}"></h5> </button></a>
                    </div>
                </span>
            </td>
        </div>

        <br>
    </div>
    <div>
        <a th:href="@{/akses_quiz/yakinKeluar(idQuiz=${idQuiz},nomor=${nomor},batasWaktu=${batasWaktu},pqid=${pqid})}"><button class="btn btn-primary"  id=keluar ><h5>Keluar</h5> </button></a>
        <th:block th:with="satu = 1, nomor = ${nomor},var = ${nomor + satu}">
            <a th:href="@{/akses_quiz(idQuiz=${idQuiz},nomor=${var},batasWaktu=${batasWaktu},pqid=${pqid})}" id=next1><button class="btn btn-primary" id=next ><h5>Next</h5> </button></a>
        </th:block>
    </div>

    <script type="text/javascript" th:inline="javascript">
        function A() {
            document.getElementById("tombol1").style.backgroundColor = "green";
            document.getElementById("tombol2").style.backgroundColor = "#DCDCDC";
            document.getElementById("tombol3").style.backgroundColor = "#DCDCDC";
            document.getElementById("tombol4").style.backgroundColor = "#DCDCDC";
            var urlTo  = '/akses_quiz/save?nomor='+[[${nomor}]]+'&jawab=A'+'&pqid='+[[${pqid}]];
            $.ajax({
                type: 'POST',
                url: urlTo,
                async: true,
                success: function(result) {
                    console.log(urlTo);
                }
            })
        }

        function B() {
            document.getElementById("tombol2").style.backgroundColor = "green";
            document.getElementById("tombol1").style.backgroundColor = "#DCDCDC";
            document.getElementById("tombol3").style.backgroundColor = "#DCDCDC";
            document.getElementById("tombol4").style.backgroundColor = "#DCDCDC";
            var urlTo  = '/akses_quiz/save?nomor='+[[${nomor}]]+'&jawab=B'+'&pqid='+[[${pqid}]];
            $.ajax({
                type: 'POST',
                url: urlTo,
                async: true,
                success: function(result) {
                    console.log(urlTo);
                }
            })
        }

        function C() {
            document.getElementById("tombol3").style.backgroundColor = "green";
            document.getElementById("tombol2").style.backgroundColor = "#DCDCDC";
            document.getElementById("tombol1").style.backgroundColor = "#DCDCDC";
            document.getElementById("tombol4").style.backgroundColor = "#DCDCDC";
            var urlTo  = '/akses_quiz/save?nomor='+[[${nomor}]]+'&jawab=C'+'&pqid='+[[${pqid}]];
            $.ajax({
                type: 'POST',
                url: urlTo,
                async: true,
                success: function(result) {
                    console.log(urlTo);
                }
            })
        }

        function D() {
            document.getElementById("tombol4").style.backgroundColor = "green";
            document.getElementById("tombol2").style.backgroundColor = "#DCDCDC";
            document.getElementById("tombol3").style.backgroundColor = "#DCDCDC";
            document.getElementById("tombol1").style.backgroundColor = "#DCDCDC";
            var urlTo  = '/akses_quiz/save?nomor='+[[${nomor}]]+'&jawab=D'+'&pqid='+[[${pqid}]];
            $.ajax({
                type: 'POST',
                url: urlTo,
                async: true,
                success: function(result) {
                    console.log(urlTo);
                }
            })
        }
        var countDownDate = new Date([[${batasWaktu}]]).getTime();
        console.log(countDownDate);

        // Update the count down every 1 second
        var x = setInterval(function() {

          var now = new Date().getTime();

          var distance = countDownDate - now;

          // Hitung waktu
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Keluarin
          document.getElementById("timer").innerHTML = hours + "h "
          + minutes + "m " + seconds + "s ";

          if (distance < 0) {
            clearInterval(x);
            $("#main").empty();
            $("#next").empty();
            $("#next1").empty();
            $("#keluar").css("margin-left","500px");
          }
          }, 1000);
    </script>
    <footer class="footer"><strong>Kelompok A5</strong> Advanced Programming</footer>
</div>
</body>
</html>
