<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::head-section}, ~{::#content}, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="head-section">
        <link rel="stylesheet" th:href="@{~/css/landing.css}">
        <title>Pacil Class</title>
    </th:block>
</head>

<body>
<div id="content">
    <div class="container py-3">
        <div id=main>
                <h2 style="width:100%;margin:auto;text-align:center;">Yakin mau keluar?</h2>
                <br><br><br>
                <div id=soal>
                    <a th:href="@{/akses_quiz(idQuiz=${idQuiz},nomor=${nomor},batasWaktu=${batasWaktu},pqid=${pqid})}"><button class="btn btn-light" ><h5>Kembali</h5></button></a>
                    <a th:href="@{/akses_quiz/end(idQuiz=${idQuiz},pqid=${pqid})}"><button class="btn btn-light" ><h5>Keluar</h5></button></a>
                </div>
                <br><br><br>
        </div>
    </div>

</div>

<th:block th:fragment="scripts">
    <script th:src="@{~/js/buatpertanyaan.js}"></script>
</th:block>
</body>

</html>