<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::head-section}, ~{::#content}, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head-section">
    <meta charset="UTF-8">
    <title>Title</title> <meta charset="ISO-8859-1">
    <title>Edit kelas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/didalamkelas.css}">
    </th:block>
</head>
<body>
<div id="content">
<h1><b>anda telah masuk kedalam kelas</b></h1>
<div class="row">
    <div class="column">
        <table> 
            <tr>
                <th>Announcement</th>
            </tr>
            <tr>
                <table class="table table-bordered mt-5" th:each="ann : ${announcements}">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col" th:text="${ann.title}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row" th:text="${ann.description}"></th>
                        </tr>
                    </tbody>
                </table>
            </tr>
        </table>
    </div>
    <div class="column">
        <table>
            <tr>
                <th>Quiz</th>
            </tr>
            <tr th:each="quiz : ${quizes}" style="cursor: pointer"
                th:onclick="'javascript:rowClicked(\'' + ${quiz.getQuizId()} + '\');'">
                <td th:text="${quiz.getQuizName()}">
                    <a th:href="@{/akses_quiz/start(idQuiz=${quiz.getQuizId()},idUser=62)}">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<table width="1000px">
    <th>
        <button onclick="announcementClicked()" class="btn btn-lg btn-block btn-outline-primary" type="submit">Buat pengumuman</button>
    </th>
    <th th:if="${idPengajar == userId}">
        <form method="post" action="#" th:action="@{buat_quiz(id=${id})}">
            <input type="hidden" name = "_method" value="buatquiz"/>
            <button class="btn btn-lg btn-block btn-outline-primary" type="submit">buat quiz</button>
        </form>
    </th>
</table>
</div>
<th:block th:fragment="scripts">
<script>
    function rowClicked(value) {
        location.href = "/akses_quiz/start?idQuiz=" + value ;
    }
</script>
<script>
    function announcementClicked() {
        var kelasId = new URLSearchParams(window.location.search).get("id");
        location.href='/announcement/form?id=' + kelasId;
    }
</script>
</th:block>
</body>
</html>
