<!DOCTYPE html>

<html th:replace="~{base :: layout(~{::head-section}, ~{::#content}, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="head-section">
        <meta charset="ISO-8859-1">
        <title>Edit kelas</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{~/css/editkelas.css}">
    </th:block>
</head>

<body lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div id="content">
    <div class="login-box">
        <h2>Login</h2>
        <form action="#" th:action="@{/administrasi_kelas/updatekelas/(id=${kelas.id})}" method="post" th:object="${kelas}">
            <div class="user-box">
                <input type="text" th:field="*{lecture}" maxlength="25"  required/><br/>
                <label>lecture </label>
            </div>
            <div class="user-box">
                <input type="text" th:field="*{name}" maxlength="25"  required/><br/>
                <label>Classname</label>
            </div>
            <div class="user-box">
                <input type="text" th:field="*{description}" maxlength="100"  required/><br/>
                <label>Description</label>
            </div>
            <div class="user-box">
                <input type="text" th:field="*{entryCode}" maxlength="10"  required/><br/>
                <label>Entrycode</label>
            </div>
            <button class="btn btn-primary mb-3" type="submit">edit kelas</button>
        </form>
    </div>
</div>
<th:block th:fragment="scripts">
</th:block>
</body>
</html>