<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::head-section}, ~{::#content}, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head-section">
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
      body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ffffff;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #ffffff;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

    </style>
    </th:block>
</head>

<body>
<div class ="container" style="padding : 0px 0px 0px 0px">
    <div id="content">
        <center><h2 style="align: center; margin-bottom: 50px ">DAFTAR KELAS</h2></center>
        <div  th:each="kls : ${kelas}"  class="card-deck mb-3 text-center" style="width: 100%; margin: 0px 0px 0px 0px; padding : 0px 0px 0px 0px; align: left">
            <div  class="card">
                <div class="card bg-primary text-white" style="width: 100%">
                    <h4 class="my-0 font-weight-normal" style="width: 100%" th:text="${kls.name}"></h4>
                </div>
                <div class="card-body">
                    <table style="margin-bottom: 25px;width: 70%">
                        <tr>
                            <td align= "left"><h5>Lecture</h5></td>
                            <td align= "left">:</td>
                            <td align= "left"><h5 class="card-title pricing-card-title" th:text="${kls.lecture}" ></h5></td>
                        </tr>
                        <tr>
                            <td align= "left"><h5>Description</h5></td>
                            <td align= "left">:</td>
                            <td align= "left"><h5 class="card-title pricing-card-title" th:text="${kls.description}" ></h5></td>
                        </tr>
                        <tr>
                            <td align= "left"><h5>Entry Code</h5></td>
                            <td align= "left">:</td>
                            <td align= "left"><h5 class="card-title pricing-card-title" th:text="${kls.entryCode}" ></h5></td>
                        </tr>
                    </table>
                    <a th:if="${kls.getPengajars.userId == userId}">
                        <form method="post" action="#" th:action="@{/administrasi_kelas/editkelas(id=${kls.id})}" th:object="${kls}">
                            <input type="hidden" name = "_method" value="edit"/>
                            <button class="btn btn-lg btn-block btn-outline-primary" type="submit">edit</button>
                        </form>
                    </a>

                    <a th:if="${kls.getPengajars.userId == userId}">
                        <form method="post" action="#" th:action="@{/administrasi_kelas/deletekelas(id=${kls.id})}" th:object="${kelas}">
                            <input type="hidden" name="_method" value="delete"/>
                            <!-- Trigger/Open The Modal -->
                            <button class="btn btn-lg btn-block btn-outline-primary" type="button" onclick="document.getElementById('id01').style.display='block'">hapus</button>
                            <!-- The Modal -->
                            <div id="id01" class="modal">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                                <form class="modal-content" action="/action_page.php">
                                    <div class="container">
                                        <h1>Delete Class</h1>
                                        <p>Are you sure you want to delete your class?</p>

                                        <div class="clearfix">
                                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                            <button type="sumbit" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </a>

                    <a> <form method="post" action="#" th:action="@{/administrasi_kelas/didalamkelas(id=${kls.id})}" th:object="${kelas}">
                        <input type="hidden" name = "_method" value="masukkelas"/>
                        <button class="btn btn-lg btn-block btn-outline-primary" type="submit">masuk kelas</button>
                    </form>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:fragment="scripts">
    <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</th:block>
</body>

</html>