<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::head-section}, ~{::#content}, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Buat Kelas</title>
    <th:block th:fragment="head-section">
        <meta charset="ISO-8859-1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{~/css/register_form.css}">
    </th:block>
</head>

<body>
<div id="content">
    <div class = "container">
        <div align="center" class="card">
            <table class="center" style="margin-bottom: 25px">
                <h1>Buat Kelas</h1>
                <form action="#" th:action="@{/administrasi_kelas/administrasi_kelas}" method="post" th:object="${kelas}" >
                    <tr>
                        <td><label>Lecture </label></td>
                        <td>:</td>
                        <td><input type="text" th:field="*{lecture}" maxlength="25"  placeholder="Lecture name" required/><br/></td>
                    </tr>

                    <tr>
                        <td><label>Class name</label></td>
                        <td>:</td>
                        <td><input type="text" th:field="*{name}" maxlength="25" placeholder="classname" required/><br/></td>
                    </tr>

                    <tr>
                        <td><label>Description</label></td>
                        <td>:</td>
                        <td><input type="text" th:field="*{description}" maxlength="100" placeholder="about the class" required/><br/></td>
                    </tr>

                    <tr>
                        <td><label>Entry Code</label></td>
                        <td>:</td>
                        <td><input type="text" th:field="*{entryCode}" maxlength="10" placeholder="max 10 character" required/><br/></td>

                    </tr>
            </table>
            <button style="align = center" type="submit"class="btn btn-primary mb-3">Buat</button>
            </form>
        </div>
    </div>
</div>
<th:block th:fragment="scripts">
</th:block>
</body>
</html>