body {
    min-height: 100vh;
    position: relative;
}

nav > a {
    user-select: none;
}

nav a p {
    font-size: xx-large;
    margin-bottom: 0;
}

nav ul {
    font-size: 1.25rem;
}

.main {
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: orange;
    text-align: center;
  }