.buat-pertanyaan-form {
    width: 50%;
}

.q-box {
    border: 1px solid grey;
    height: 96px;
}

textarea[name="question"]{
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    line-height: 1.42;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    text-align: left;
    vertical-align: baseline;
    white-space: pre-wrap;
    word-wrap: break-word;

    resize: none;
}

.a-question input[type=radio] {
    width: 20px;
    line-height: 3px;
}

.a-question {
    padding: 25px;
    border-radius: 12px;

    background-color: rgb(190, 190, 190);


    box-shadow: 0 0 5px rgb(0 0 0 / 10%), 0 6px 8px rgb(0 0 0 / 10%);
}

.q-single-ans label {
    width: 10px;

    margin-bottom: 0;
    margin-right: 5px;
}

.q-title button {
    height: 2rem;
}

.q-title button p {
    font-size: 12px;
}

.save-n-back {
    height: 2.5rem;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }
  
  .btn-circle i {
    position: relative;
    top: -1px;
  }