body {
    padding: 0;
}

.mid-container {
    width: 100%;
    height: 100%;
    margin-top: 10vh;
}

.buat-quiz-form {
    width: 50%;
}

input {
    width: 100%;
}

.date-select {
    display: flex;
    justify-content: space-between;
    height: min-content;
}

.start-span {
    vertical-align: middle;
    color: grey;
}

.time-select {
    display: flex;
    justify-content: space-between;
}

.time {
    height: min-content;
    width: max-content;
}

input[type="submit"] {
    width: 5rem;
}

@media (max-width: 1199.98px) {

    .buat-quiz-form, .buat-pertanyaan-form{
        width: 75%;
        
    }

}
