

.listbutton {
    margin-top: 25vh;
}

.custom-h1 {
    font-size: 4rem;
    font-weight: 400;
}

.custom-h2 {
    font-size: 2.8rem;
    font-weight: 400;
    color: rgb(58, 58, 58);
}

.buat-kelas, .join-kelas {
    padding: 10px 30px;
    font-size: larger;
    font-weight: 500;
}

#start{
    width: 100%;
    margin:auto;
    text-align: center;

}


#main{
    width: 100%;
}

#tombol1{
    width: 400px;
    borderColor: black;
}

#tombol2{
    width: 400px;
    borderColor: black;
}

#tombol3{
    width: 400px;
    borderColor: black;
}

#tombol4{
    width: 400px;
    borderColor: black;
}

#soal{
    width: 100%;
    margin:auto;
    text-align: center;
}

#next{
    margin-left:800px;
    width:200px;
}

.pilihan{
    display: flex;
    justify-content: space-around;
    color: red;
}
