<!DOCTYPE html>
<html lang="en" th:fragment="layout (head, content, script)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 4.5 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e76dc76644.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{~/css/base.css}">
    <th:block th:replace="${head}">
        <title>Pacil Class</title>
    </th:block>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand ml-3" th:href="@{/}">
        <p>PacilClass</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-3" id="navbarSupportedContent">
        <ul th:if="${#authentication.name == 'anonymousUser'}" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a th:href="@{/authentication/user}" class="nav-link">Login</a>
            </li>
            <li class="nav-item" style="font-weight: 500; ">
                <a th:href="@{/authentication/authentication}" class="nav-link" style="color: rgb(92, 92, 92);">Sign Up</a>
            </li>
        </ul>
        <ul th:unless="${#authentication.name == 'anonymousUser'}" class="navbar-nav ml-auto">
            <li class="nav-item">
                <span th:text="${'Hi, ' + #authentication.name}"></span>
                <br>
                <a th:href="@{/authentication/logout}" class="nav-link">Logout</a>
                <a th:href="@{/announcement/notification}" class="btn btn-primary">My Notification</a>
            </li>
        </ul>
    </div>
</nav>

<div class="main">
<!--    MASUKKAN CONTENT DISINI  -->
    <div th:replace="${content}"></div>
</div>

<footer class="footer"><strong>Kelompok A5</strong> Advanced Programming</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

<!--MASUKKAN SCRIPT DISINI-->
<th:block th:replace="${script}">

</th:block>
</body>
</html>