<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::head-section}, ~{::#content}, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <th:block th:fragment="head-section">
        <link rel="stylesheet" th:href="@{~/css/landing.css}">
        <title>Pacil Class</title>
    </th:block>

</head>

<body>

    <div id="content">
        <div class="container">
            <div class="pt-lg-5">
                <a><img src="https://i.ibb.co/VxWmxdv/message-Image-1623138863483.jpg" align="center" style="padding-left: 275px" width="800px"></a>
            </div>
            <div class="pt-lg-4">
                <p class="text-center">Sebagai sarana kelas online dan mengerjakan quiz secara bersamaan</p>
            </div>
        </div>

        <div class="container">
            <div class="d-flex" style="margin-top: 0px">
                <form th:action="@{/administrasi_kelas}" class="ml-auto mr-5">
                    <button class="btn btn-dark buat-kelas">Buat Kelas</button>
                </form>
                <div class="mr-auto">
                    <button class="btn btn-primary join-kelas" data-toggle="modal" data-target="#entryKelasModal">Join Kelas</button>
                </div>
            </div>
        </div>

        <div sec:authorize="hasRole('USER')" class="d-flex justify-content-center pb-lg-5">
            <a th:href="@{/administrasi_kelas/listkelas}"><button class="btn btn-secondary">List Kelas</button></a>
        </div>

        <div class="modal fade" id="entryKelasModal" tabindex="-1" role="dialog" aria-labelledby="entryKelasModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entryKelasModalLabel">Join Kelas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <form id="entryForm" th:action="@{/administrasi_kelas/join}" method="post">
                            <input type="text" th:name="entry" id="entryInput">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-secondary join-btn">Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<th:block th:fragment="scripts">
    <script th:src="@{~/js/landing.js}"></script>
</th:block>
</body>

</html>