<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::head-section}, ~{::#content}, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="head-section">
        <link rel="stylesheet" th:href="@{~/css/buatquiz.css}">
        <link rel="stylesheet" th:href="@{~/css/buatpertanyaan.css}">
    </th:block>

</head>

<body>
    <div id="content">
        <div class="mid-container d-flex flex-column align-items-center justify-content-center">
            <div class="container buat-quiz-form">
                <div class="row mb-3">
                    <div class="col-12 title">
                        <h2>Buat Quiz</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form action="" class="border-light" method="POST">
                            <div class="form-group p-1">
                                <label for="quiz-name">Nama Quiz</label>
                                <input type="text" id="quiz-name" placeholder="Nama Quiz" class="p-3">
                            </div>
                            <div class="form-group p-1">
                                <label for="time-limit">Time Limit</label>
                                <input id="time-limit" placeholder="Time Limit (in minutes)" class="p-3">
                            </div>
                            <label for="start-date-row" class="p-1">Start Date</label>
                            <div class="form-group row p-1" id="start-date-row">
                                <div class="col-4 date-select">
                                    <span class="start-span">Month</span>
                                    <select name="start-month" class="p-2">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-3 date-select">
                                    <span class="start-span">Date</span>
                                    <select name="start-date" class="p-2">
                                        <th:block th:each="i: ${#numbers.sequence(1, 31)}">
                                            <option th:value="${i}" th:text="${i}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-5 time-select">
                                    <span class="start-span">Time(HH:mm)</span>
                                    <div class="time">
                                        <select name="start-time-hour" class="p-2">
                                            <th:block th:each="i: ${#numbers.sequence(0, 23)}">
                                                <option th:value="${i}" th:text="${i}"></option>
                                            </th:block>
                                        </select>
                                        <select name="start-time-min" class="p-2">
                                            <th:block th:each="i: ${#numbers.sequence(0, 11)}">
                                                <option th:value="${i*5}" th:text="${i*5}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <label for="end-date-row" class="p-1">End Date</label>
                            <div class="form-group row p-1" id="end-date-row">
                                <div class="col-4 date-select">
                                    <span class="start-span">Month</span>
                                    <select name="end-month" class="p-2">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-3 date-select">
                                    <span class="start-span">Date</span>
                                    <select name="end-date" class="p-2">
                                        <th:block th:each="i: ${#numbers.sequence(1, 31)}">
                                            <option th:value="${i}" th:text="${i}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="col-5 time-select">
                                    <span class="start-span">Time(HH:mm)</span>
                                    <div class="time">
                                        <select name="end-time-hour" class="p-2">
                                            <th:block th:each="i: ${#numbers.sequence(0, 23)}">
                                                <option th:value="${i}" th:text="${i}"></option>
                                            </th:block>
                                        </select>
                                        <select name="end-time-min" class="p-2">
                                            <th:block th:each="i: ${#numbers.sequence(0, 11)}">
                                                <option th:value="${i*5}" th:text="${i*5}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="s d-flex justify-content-end pt-4">
                                <input type="submit" value="Next">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container buat-pertanyaan-form">
                <div class="row mb-3">
                    <div class="col-12 title">
                        <h2>Buat Pertanyaan</h2>
                    </div>
                </div>
                <div class="d-flex flex-column buat-pertanyaan-body">
                    <div class="col-12 a-question q-1 mb-3">
                        <div class="d-flex justify-content-between mb-2 q-title">
                            <p class="mb-1 font-weight-bolder">Question 1</p>
                            <button class="btn btn-danger q-del" id="q-delete-1" onclick="qdelete(1)">
                                <p>Delete</p>
                            </button>
                        </div>
                        <div class="q-box mb-3">
                            <textarea name="question" id="pertanyaan-1" cols="30" rows="10"></textarea>
                        </div>
                        <div class="q-answers">
                            <div class="d-flex">
                                <div class="q-single-ans col-6 d-flex align-items-center">
                                    <input type="radio" name="answers-1" id="answer-A-1" value="A">
                                    <div class="ml-1"></div>
                                    <label for="answer-A-1">A</label>
                                    <div class="ml-1"></div>
                                    <input type="text" id="A-1">
                                </div>
                                <div class="q-single-ans col-6 d-flex align-items-center">
                                    <input type="radio" name="answers-1" id="answer-C-1" value="C">
                                    <div class="ml-1"></div>
                                    <label for="answer-C-1">C</label>
                                    <div class="ml-1"></div>
                                    <input type="text" id="C-1">
                                </div>
                            </div>
                            <div class="mb-2"></div>
                            <div class="d-flex">
                                <div class="q-single-ans col-6 d-flex align-items-center">
                                    <input type="radio" name="answers-1" id="answer-B-1" value="B">
                                    <div class="ml-1"></div>
                                    <label for="answer-B-1">B</label>
                                    <div class="ml-1"></div>
                                    <input type="text" id="B-1">
                                </div>

                                <div class="q-single-ans col-6 d-flex align-items-center">
                                    <input type="radio" name="answers-1" id="answer-D-1" value="D">
                                    <div class="ml-1"></div>
                                    <label for="answer-D-1">D</label>
                                    <div class="ml-1"></div>
                                    <input type="text" id="D-1">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-end plus-button">
                        <button class="btn btn-primary btn-circle m-1 add-question"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="d-flex justify-content-center save-n-back">
                        <button class="btn btn-primary btn-back">
                            <p>Back</p>
                        </button>
                        <button class="btn btn-primary ml-2 btn-save" th:data-kelas="${id}">
                            <p>Save</p>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

<th:block th:fragment="scripts">
    <script th:src="@{~/js/buatquiz.js}"></script>
    <script th:src="@{~/js/buatpertanyaan.js}"></script>
</th:block>
</body>

</html>
