<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
    html {
    overflow: hidden;
    font-family: Arial;
    }

    body {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg-dark {
        background-color: #ffffff00 !important;
    }

    .main {
        margin-top: 5rem;
        margin-bottom: 2rem;
        margin-right: 10rem;
        margin-left: 10rem;
        padding: 0rem;
        padding-top: 1rem;
        height: 64vh;
        background-color: MidnightBlue;
        box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        align-items: center;
        text-align: center;
    }

    .main h1 {
        color: AliceBlue;
        font-weight: 800;
    }

    .text-muted {
      color: white !important;
    }

    .form-control {
        margin-bottom: 1rem !important;
    }

    .btn-rose {
        color: #fff;
        background-color: Azure;
        border-color: Azure;
      }

      .btn-rose:hover {
        color: #fff;
        background-color: #8D8989;
        border-color: #8D8989;
      }

      .btn-rose:focus, .btn-rose.focus {
        color: #fff;
        background-color: rgb(163, 124, 113);
        border-color: rgb(163, 124, 113);
        box-shadow: 0 0 0 0.2rem rgb(180, 141, 131);
      }

      .btn-rose.disabled, .btn-rose:disabled {
        color: #fff;
        background-color: #B0887D;
        border-color: #B0887D;
      }

      .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #EAEAEA;
        background-clip: padding-box;
        border: 1px solid #EAEAEA;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      .form-control:focus {
        color: #495057;
        background-color: #EAEAEA;
        border-color: rgba(234, 234, 234, 0.534);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(180, 141, 131, 0.527);
      }
    </style>
    <title>PacilClass | Signup</title>
</head>

<body>
<div class="main">
    <div class="container">
        <div class="row mt-4">
            <form th:action="@{/authentication/sign_up}" method="post" class="col-lg-4 col-md-12 " th:object="${user}" >
                <div class="form-group">
                    <label class="col-form-label" style="color: White">Username</label>
                    <input type="text" class="form-control" th:field="*{username}" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label" style="color: White">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" required>
                </div>
                <button type="submit" class="btn btn-rose mt-3 mb-4" id="login" style="color: Black">Sign Up</button>
                <br>
                <small class="text-muted" style="text-align: center; ">
                    Sudah punya account? <a th:href="@{/authentication/user}" class="nav-link" style="color: dodgerblue"> login</a>
                </small>
            </form>
            <div class="col-lg-8 align-content-center d-none d-lg-flex" >
                <h1 style="padding-left: 50px; font-size: 7.1vw">Welcome To PacilClass!</h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>
